<!-- start custom footer snippets -->
<!-- <div class="page__footer"> -->

<div style="margin-left:20%; margin-right:20%">
<div class="page__footer-row">
  <div class="page__footer-column">
    <img style="height:2.5em", src="/assets/images/stfc.png">
  </div>
  <div class="page__footer-column">
    <img style="height:3em", src="/assets/images/erc.png">
  </div>
  <div class="page__footer-column">
    <img style="height:2.5em", src="/assets/images/ucl.png">
  </div>
</div>

<!-- end custom footer snippets -->
