---
layout: single
author_profile: false
header:
  overlay_color: "#000"
  overlay_filter: "0.1"
  overlay_image: /assets/images/1052644552.jpg
  caption: "Gliese 667Cc &copy; ESO"
excerpt: "Deciphering Extrasolar Planets"
---

This is the ExoAI project website. On this website you can find out about our recent publications,
the people working on the projects and of course, what projects we are currently working on. <br />

For user manuals and installation instructions of TauREx and other codes, please go to the <a href="{{ '/software/' | relative_url }}">software</a> page.

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
