<h2> 2018</h2><p style="margin-left: 40px;font-weight: bold"><li><b><a target="_blank" href=https://ui.adsabs.harvard.edu/#abs/2018AJ....155..156T>A Population Study of Gaseous Exoplanets</a></b>   (2018)</li></p>
<p style="margin-left: 70px;line-height: 95%;">Tsiaras, A. ; Waldmann, I.P. ; Zingales, T. ; Rocchetto,
M. ; Morello, G. ; Damiano, M. ; Karpouzas, K. ;
Tinetti, G. ; McKemmish, L.K. ; Tennyson, J. ;
Yurchenko, S.N.<br><font color="grey">journal: \aj | volume: 155 | page: 156</font></p> 

<p style="margin-left: 40px;font-weight: bold"><li><b><a target="_blank" href=https://ui.adsabs.harvard.edu/#abs/2018arXiv180602906Z>ExoGAN: Retrieving Exoplanetary Atmospheres Using Deep Convolutional
Generative Adversarial Networks</a></b>   (2018)</li></p>
<p style="margin-left: 70px;line-height: 95%;">Zingales, Tiziano ; Waldmann, Ingo Peter<br><font color="grey">journal: ArXiv e-prints | page: arXiv:1806.02906</font></p> 

<h2> 2017</h2><p style="margin-left: 40px;font-weight: bold"><li><b><a target="_blank" href=http://adsabs.harvard.edu/abs/2017arXiv170908415V>VUV-absorption cross section of carbon dioxide from 150 to 800 K and applications to warm exoplanetary atmospheres</a></b>   (2017)</li></p>
<p style="margin-left: 70px;line-height: 95%;">Venot, O. ; B\'enilan, Y. ; Fray, N. ; Gazeau, M.-C. ;
Lef\`evre, F. ; Essebbar, E.-t. ; H\'ebrard, E. ;
Schwell, M. ; Bahrini, C. ; Montmessin, F. ; Lef\`evre, M. ;
Waldmann, I.P.<br><font color="grey">journal: ArXiv e-prints | page: 1709.08415</font></p> 

<p style="margin-left: 40px;font-weight: bold"><li><b><a target="_blank" href=https://ui.adsabs.harvard.edu/#abs/2017arXiv171108433V>A better characterization of the chemical composition of exoplanets
atmospheres with ARIEL</a></b>   (2017)</li></p>
<p style="margin-left: 70px;line-height: 95%;">Venot, Olivia ; Drummond, Benjamin ; Miguel, Yamila ;
Waldmann, Ingo P. ; Pascale, Enzo ; Zingales, Tiziano<br><font color="grey">journal: ArXiv e-prints | page: arXiv:1711.08433</font></p> 

